[Desktop Entry]
Actions=new-window;new-private-window;open-profile-manager;
Categories=GNOME;GTK;Network;WebBrowser;
Comment=Brave Browser
DBusActivatable=false
Exec=/usr/lib/firefox/firefox -P work --name firefoxbrave
GenericName=Web Browser
Icon=brave
Keywords=Internet;WWW;Browser;Web;Explorer;
MimeType=application/json;application/pdf;application/rdf+xml;application/rss+xml;application/x-xpinstall;application/xhtml+xml;application/xml;audio/flac;audio/ogg;audio/webm;image/avif;image/gif;image/jpeg;image/png;image/svg+xml;image/webp;text/html;text/xml;video/ogg;video/webm;x-scheme-handler/chrome;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/mailto;
Name=Brave
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
StartupWMClass=firefoxbrave
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-GNOME-FullName=Firefox Web Browser
X-KDE-SubstituteUID=false
X-KDE-Username=
X-MultipleArgs=false

[Desktop Action new-private-window]
Exec=/usr/lib/firefox/firefox --private-window -P work --name firefoxbrave %u
Name=New Private Window
StartupWMClass=firefoxbrave

[Desktop Action new-window]
Exec=/usr/lib/firefox/firefox --new-window -P work --name firefoxbrave
Name=New Window
StartupWMClass=firefoxbrave

[Desktop Action open-profile-manager]
Exec=/usr/lib/firefox/firefox --ProfileManager
Name=Open Profile Manager
